# Visual Studio

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build Folders

bin/
obj/
out/

# Rider

.idea/

# NuGet

*.nupkg
*.snupkg
packages/

# ASP.NET Core
backend/appsettings.json
backend/appsettings.Development.json
wwwroot/uploads/
*.db

# Frontend
frontend/node_modules/
frontend/.env
frontend/.env.local

# Backend
backend/DoAnCoSo/Uploads/
backend/DoAnCoSo/bin/
backend/DoAnCoSo/obj/
backend/.env

# Others

*.log
*.DS_Store
*.tmp
*.bak
*.swp
~*.*

# JetBrains Rider

.idea/
*.sln.iml
